* {
  text-align: center;
  background-color: #000E66;
  font-family: oswald;
}

body {
  border: 7px dotted; 
  padding:20px; 
  margin:35px;
  color: #334476; 
}

h1 {
  color: #DAC889;
  font-size: 50px;
  }

h2 {
  border:2px dotted #334476; 
  padding: 10px; 
  margin: 10px 100px; 
  color:rgb(92, 165, 173);
    color: #DAC889;
  font-size: 35px;
  text-shadow: 2px 2px 5px;
}

p {
  color: #DACC98;
  font-size: 21px;
}

nav {
  color: #334476;
  font-size: 17px;
  }

a {
  color: #DACC98;
  font-size: 17px; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

audio::-webkit-media-controls-panel{
  background-color: #DACC98
}

#translucent:hover {
  opacity: 0.5;
}

#room:hover {
  opacity: 1.0;
}